<div class="container">
	<h2 class="mb-4">フォローされているユーザー</h2>
	<% @users.each do |user| %>
		<div class="row m-3">
			<%= link_to user_path(user) do %>
				<div class="col-2"><%= attachment_image_tag user, :icon_image, :fill, 50, 50, format: 'jpeg', fallback: 'no_icon_image.jpeg', size: '50x50' %></div>
			<% end %>
				<div class="col-2"><%= user.name %></div>
				<div class="col-5">
					<% unless user.introduction.blank? %>
						<%= user.introduction.truncate(50) %>
					<% end %>
				</div>
		</div>
	<% end %>
</div>