<div class="about-wrapper">
	<div class="about-content">
		<div class="about-text">
			<p>
				このサイトでは<br>
				心技体をそれぞれ瞑想、ストレッチ、トレーニングのアクティビティに置き換え<br>
				他のユーザーの皆様と情報交換をしていただけます。<br>
				<span></span><br>
				このような時代にもその後の時代にも普遍的に<br>
				カラダとスペースさえあれば</br>
				ココロを満たせることでしょう
			</p>
		</div>
	</div>
</div>