/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
nav ul {
	width: 300px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
	display: flex;
}

nav ul li {
	margin: 0 auto;
}

.container {
  /*width: 300px;*/
  /*height: 300px;*/
  color: #fff;
  background: #eee;
  display: flex;
  flex-direction: column;
}
.box {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}
.box-1 { background: tomato; }
.box-2 { background: slategray; }
.box-3 { background: pink; }
.box-4 { background: skyblue; }
.box-5 { background: limegreen; }