/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

html, body {
	height: 100%;
}

.wrapper {
	width: 100%;
	position: relative;
	min-height: 100%;
}

.container-fluid {
  width: 1400px;
}

#alert {
	color: red;
}

nav ul {
	list-style: none;
	color: black;
}

nav ul li {
	margin: 0 auto;
}

main {
	padding-bottom: 80px;
}

footer {
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0;
}

footer p {
	text-align: center;
	margin-top: 30px;
}

.container-fluid#top-page {
	width: 100%;
	background-color: #F0F8FF;
}

.top-image {
	background-image: image-url('shin-gi-tai_top.jpg');
	background-size:cover;
	position: center;
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	position: relative;
}

.top-text, .top-title {
	color: white;
}

.top-text {
	padding: 30px 0 0 30px;
	font-size: 20px;
}


.top-title {
	position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 30px 10px 0;
  font-size: 100px;
}

.top-title p {
	margin-bottom: 0;
	font-family: MS PMincho;
}

.top-link {
	display: flex;
  justify-content: flex-end;
}

.about-wrapper {
	width: 100%;
	height: 600px;
	background-color: #F0F8FF;
}

.about-content {
	background-image: image-url('about-image.jpg');
	background-size: cover;
	height: 600px;
	width: 1000px;
	margin: 0 auto;
}

.about-text {
	color: white;
	line-height: 2.5;
	padding: 20px 0 0 40px;
}

.new-posts {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.content-card {
	padding: 7px 20px 20px 20px;
	margin: 20px;
	box-shadow: 0 5px 12px 0 rgba(0, 0, 0, .5);
}

.content-card p {
	margin-bottom: 5px;
	color: white;
	font-weight: 900;
	opacity: 0.7;
}

.card-icon {
	margin-right: 10px;
}

.category-meditation {
	background-color: rgba(126,217,87,0.7);
}

.category-stretching {
	background-color: rgba(56,182,255,0.7);
}

.category-work_out {
	background-color: rgba(255,87,87,0.7);
}

.timeline {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
}

.timeline-card {
	width: 600px;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 30px 20px 20px 30px;
	color: black;
	box-shadow: 0 5px 12px 0 rgba(0, 0, 0, .5);
	position: relative;
	font-weight: 600;
}

.timeline-card p {
	color: white;
	font-size: 30px;
	font-weight: 900;
	opacity: 0.7;
	margin-bottom: 0;
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.timeline-card_contents {
	display: flex;
}

.timeline-card img {
	margin-right: 20px;
	margin-bottom: 20px;
}

.timeline-card_create-time {
	position: absolute;
	right: 20px;
	top: 37px;
}

.timeline-card_post-body {
	width: 300px;
	height: 100px;
}

.sidebar {
	border: 2px solid rgba(0,0,0,0.25);
	height: 500px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.sidebar p {
	margin-bottom: 10px;
	font-weight: 600;
}

.sidebar_icon {
	margin: 30px auto;
}

.following-and-followers {
	display: flex;
}

.following-and-followers p {
	margin-right: 10px;
}

.activity-point-box {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.activity-point {
	display: inline-block;
	font-size: 40px;
	font-weight: 800;
	padding-left: 10px;
}

.activity-point span {
	font-size: 20px;
}

.new-post {
	position: absolute;
	bottom: 0;
	left: 50%;
  transform: translate(-50%, -50%);
}

.category-button {
	width: 100%;
	display: flex;
  justify-content: space-around;
  border-bottom: 2px solid rgba(0,0,0,0.5);
}

.category-button input {
	display: none;
}

.category-button label {
	margin: 5px;
	border: 1px solid black;
	width: 110px;
	height: 45px;
	line-height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	color: #b20000;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	font-weight: 400;
}

.category-button input:checked + label.input-meditation {
	background: rgb(126,217,87);
	color: #ffffff;
}

.category-button input:checked + label.input-stretching {
	background: rgb(56,182,255);
	color: #ffffff;
}

.category-button input:checked + label.input-work_out {
	background: rgb(255,87,87);
	color: #ffffff;
}

.new-post_image-field {
	width: 100%;
}

.new-post_text-field {
	width: 100%;
	text-align: center;
}

.post-contents {
	width: 100%;
	margin: 0 auto;
}

.post-content-image {
	width: 100%;
	height: 624px;
	display: flex;
	justify-content: center;
}


.post-content-head {
	display: flex;
	margin: 20px;
	position: relative;
}

.post-content-head .icon {
	margin-right: 40px;
}

.post-content-head .name {
	height: 20px;
	width: 160px;
	margin: 40px 40px 0 0;
}

.post-content-head .category-name {
	height: 25px;
	margin: 40px 40px 0 0;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 0 10px 0 10px;
	border-radius: 5px;

}

.category-name.meditation {
	background-color: rgba(126,217,87,0.2);
}

.category-name.stretching {
	background-color: rgba(56,182,255,0.5);
}

.category-name.work_out {
	background-color: rgba(255,87,87,0.5);
}

.favorite-button {
	height: 20px;
	margin-top: 40px;
}

.post-content_create-time {
	height: 20px;
	margin: 40px 0 0 0;
	float: right;
	position: absolute;
	right: 0;
}

.post-content_body {
	width: 100%;
	padding: 20px;
	border: 2px solid rgba(0,0,0,0.2);
}

.edit-post-button {
	margin: 0 0 0 auto;
}

.post-comments {
	width: 100%;
}

.post-comments h2 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid black;
}

.post-comments .field {
	text-align: center;
	margin-bottom: 10px;
}

.post-comments .action {
	text-align: center;
	margin-bottom: 30px;
}

.posted-comments {
	display: flex;
	flex-direction: column-reverse;
}

.posted-comments .comment {
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .5);
}

.comment-icon {
	margin-right: 10px;
	display: inline-block;
}

.posted-comments .name {
	display: inline-block;
}

.posted-comments .delete-button {
	display: inline-block;
	float: right;
	margin: 10px 10px 0 0;
}

.posted-comments .body {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.edit-post-form h4 {
	width: 100%;
}

.edit-image {
	width: 100%;
}

.view-image {
	display: inline-block;
}


.edit-introduction {
	// display: flex;
	// align-items: baseline;
}

.unsubscribe {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.unsubscribe p {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 150px;
}

.unsubscribe-buttons {
	display: flex;
	justify-content: center;
}

.unsubscribe-buttons .withdraw-button {
	margin-right: 40px;
}

.container-fluid#show-user {
	width: 1600px;
}

#show-user h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
}

.show-user-content-head {
	display: flex;
	align-items: center;
	padding: 0.5em 1em;
	margin-top: 2em;
	margin-bottom: 4em;
	color: #474747;
  background: whitesmoke;
  border-left: double 7px rgb(126,217,87);
  border-right: double 7px rgb(126,217,87);
}

.show-user-content-head img {
	margin-right: 20px;
}

.show-user-content-head .follower {
	margin-right: 40px;
}

.activity-point-charts {
	margin: 20px;
}

.paginate {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.pagination li a {
  text-decoration: none;
	color: black;
	margin-right: 5px;
}

.pagination .active a {
	color: black;
	margin-right: 5px;
}